.App {
  text-align: center;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: '.' 'buttons';
  justify-content: center;
  grid-template-rows: 5em 20em;
  grid-template-columns: 20em;
}

#button-container {
  grid-area: buttons;
  display: grid;
  grid-template-areas: 
  'ac ac . .'
  '. . . .'
  '. . . .'
  '. . . equals'
  'zero zero . equals';
  grid-gap: 1px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
